/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	background-color:  rgb(245,155,255);
	font-family: 'Times New Roman', Times, serif;
	color: rgb(88, 0, 88);
}
header{
	margin: 0px 0px 50px 0px;
}

.top_title{
	padding: 40px 20px;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	letter-spacing: 15px;
	word-spacing: 30px;
	min-width: 480px;
	transition: all 0.5s ease;
	background: rgb(245, 155, 255);
background: -moz-linear-gradient(top,  rgb(245, 155, 255) 0%, #e600ff 100%);
background: -webkit-linear-gradient(top,  rgb(245,155,255) 0%,rgb(230, 0, 255) 100%);
background: linear-gradient(to bottom,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59bff', endColorstr='#e600ff',GradientType=0 );
}
.top_title:hover{
	font-size: 44px;
	letter-spacing: 17px;
	transition: all 0.5s ease;
	background: rgb(230,0,255);
background: -moz-linear-gradient(top,  rgb(230,0,255) 0%, rgb(245,155,255) 100%);
background: -webkit-linear-gradient(top,  rgb(230,0,255) 0%,rgb(245,155,255) 100%);
background: linear-gradient(to bottom,  rgb(230,0,255) 0%,rgb(245,155,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e600ff', endColorstr='#f59bff',GradientType=0 );
}
.top_title:active{
	font-size: 43px;
	letter-spacing: 17px;
	background: rgb(245,155,255);
background: -moz-radial-gradient(center, ellipse cover,  rgb(245,155,255) 0%, rgb(230,0,255) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
background: radial-gradient(ellipse at center,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59bff', endColorstr='#e600ff',GradientType=1 );
}

.dws-menu ul, .dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	min-width: 768px;
	justify-content: center;
}
.dws-menu > ul li a{
	display: block;
	color: rgb(88, 0, 88);
	padding: 20px;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	background: rgb(245,155,255);
background: -moz-linear-gradient(top,  rgb(245,155,255) 0%, rgb(230,0,255) 100%);
background: -webkit-linear-gradient(top,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
background: linear-gradient(to bottom,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59bff', endColorstr='#e600ff',GradientType=0 );
}
.dws-menu li a:hover{
	font-size: 17px;
	letter-spacing: 2px;
	box-shadow: 0px 5px 10px -2px rgb(66, 0, 73);
	transition: 0.3s;
	background: rgb(230,0,255);
background: -moz-linear-gradient(top,  rgb(230,0,255) 0%, rgb(245,155,255) 100%);
background: -webkit-linear-gradient(top,  rgb(230,0,255) 0%,rgb(245,155,255) 100%);
background: linear-gradient(to bottom,  rgb(230,0,255) 0%,rgb(245,155,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e600ff', endColorstr='#f59bff',GradientType=0 );
}
.dws-menu li a:active{
	font-size: 15px;
	letter-spacing: 4px;
	background: rgb(245,155,255);
background: -moz-radial-gradient(center, ellipse cover,  rgb(245,155,255) 0%, rgb(230,0,255) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
background: radial-gradient(ellipse at center,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59bff', endColorstr='#e600ff',GradientType=1 );
}
.dws-menu > ul li{
	position: relative;
	border: 1px solid rgb(90, 0, 100);
	border-right: none;
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
}
.dws-menu li ul{
	display: none;
	position: absolute;
	left: -1px;
	width: 120%;
}
.dws-menu li > ul li{
	border: 1px solid rgb(37, 0, 41);
}
.dws-menu li > ul li a{
	text-transform: none;
	padding: 10px;
}
.dws-menu li > ul li ul{
	position: absolute;
	width: 105%;
	left: 100%;
	top: -1px;
}
.dws-menu li:hover > ul{
	display: block;
}



.content{
	font-size: 18px;
	min-width: 400px;
	max-width: 90%;
	margin: 0 auto;
}
.content div{
	margin: 15px 0 15px 0;
	padding: 15px 0 15px 0;
}
.french_imag_200{
	background: url('../img/Френч белый 001.jpg') 0 0/200px 200px no-repeat;
	height: 200px;
	width: 200px;
	border-radius: 5%;
}



footer{
	background: rgb(245,155,255);
background: -moz-linear-gradient(top,  rgb(245,155,255) 0%, rgb(230,0,255) 100%);
background: -webkit-linear-gradient(top,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
background: linear-gradient(to bottom,  rgb(245,155,255) 0%,rgb(230,0,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59bff', endColorstr='#e600ff',GradientType=0 );
}
.footer{

	padding: 40px 0 15px 0;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 5px;
	word-spacing: 5px;
	min-width: 400px;
	max-width: 90%;
	margin: 0 auto;
}