/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	background-color:  rgb(217, 220, 228);
	font-family: 'Times New Roman', Times, serif;
	color: rgb(33, 27, 37);
}



.top_title{
	min-height: 55%;
	background: url('../img/top_title_3680.1680.jpg') center/cover no-repeat;
}
.top_title img{
	border: 5px solid transparent;
	border-radius: 50%;
	box-shadow: 0px 0px 40px black;
}



.dws-menu{
	position: sticky;
	top: 0;
	z-index: 5;
}
.dws-menu ul, .dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
}
.dws-menu > ul li a{
	display: block;
	color: rgb(33, 27, 37);
	padding: 12px 0 10px 0;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	background: rgb(217, 220, 228);
background: -moz-linear-gradient(top,  rgb(217, 220, 228) 0%, rgb(107, 124, 140) 100%);
background: -webkit-linear-gradient(top,  rgb(217, 220, 228) 0%,rgb(107,124,140) 100%);
background: linear-gradient(to bottom,  rgb(217, 220, 228) 0%,rgb(107, 124, 140) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dce4', endColorstr='#6b7c8c',GradientType=0 );
}
.dws-menu li a:hover{
	font-size: 17px;
	letter-spacing: 2px;
	box-shadow: 0px 5px 10px -2px rgb(40, 35, 31);
	transition: 0.3s;
	background: rgb(107, 124, 140);
background: -moz-linear-gradient(top,  rgb(107, 124, 140) 0%, rgb(217, 220, 228) 100%);
background: -webkit-linear-gradient(top,  rgb(107, 124, 140) 0%,rgb(217, 220, 228) 100%);
background: linear-gradient(to bottom,  rgb(107, 124, 140) 0%,rgb(217, 220, 228) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7c8c', endColorstr='#d9dce4',GradientType=0 );
}
.dws-menu li a:active{
	font-size: 16px;
	letter-spacing: 3px;
	background: rgb(107, 124, 140);
background: -moz-radial-gradient(center, ellipse cover,  rgb(107, 124, 140) 0%, rgb(217, 220, 228) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgb(107, 124, 140) 0%,rgb(217, 220, 228) 100%);
background: radial-gradient(ellipse at center,  rgb(107, 124, 140) 0%,rgb(217, 220, 228) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7c8c', endColorstr='#d9dce4',GradientType=1 );
}
.dws-menu > ul li{
	position: relative;
	border: 1px solid rgb(35, 15, 50);
	border-right: none;
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
	background: rgb(107, 124, 140);
}
.dws-menu li ul{
	display: none;
	position: absolute;
	left: -1px;
	width: 120%;
}
.dws-menu li > ul li{
	border: 1px solid rgb(35, 15, 50);
}
.dws-menu li > ul li a{
	text-transform: none;
	padding: 8px 0 6px 0;
}
.dws-menu li > ul li ul{
	position: absolute;
	width: 105%;
	left: 100%;
	top: -1px;
}
.dws-menu li:hover > ul{
	display: block;
}



.all_content{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.5em;
	letter-spacing: 0.08em;
	word-spacing: 0.2em;
}
@media (max-width:1200px) {
	.all_content{
		max-width: 970px;
	}
}
@media (max-width:992px) {
	.all_content{
		max-width: 750px;
	}
}
@media (max-width:767px) {
	.all_content{
		max-width: none;
	}
}



.all_content {
}
h2{
	padding: 60px 0 0 0;
	text-align: center;
}
p{
	text-indent: 2em;
}
img{
	box-shadow: 0px 0px 20px rgb(107, 124, 140);
	border-radius: 1% 10%;
}



.three_vertical_columns{
	display: flex;
	flex-wrap: wrap;
}
.vertical_column_3{
	padding: 5px;
	display: block;
	flex: 1 1 33.333%;
}
.vertical_subtitle{
	padding: 10px 0;
}
.vertical_img img{
	max-width: 100%;
	margin: 10px 0;
}
.vertical_text p{
	padding: 10px 10px 0 10px;
	text-align: justify;
}



.too_vertical_columns{
	display: flex;
	flex-wrap: wrap;
}
.vertical_column_2{
	padding: 5px;
	display: block;
	flex: 1 1 50%;


footer{
	background: rgb(217, 220, 228);
background: -moz-linear-gradient(top,  rgb(217, 220, 228) 0%, rgb(107, 124, 140) 100%);
background: -webkit-linear-gradient(top,  rgb(217, 220, 228) 0%,rgb(107, 124, 140) 100%);
background: linear-gradient(to bottom,  rgb(217, 220, 228) 0%,rgb(107, 124, 140) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dce4', endColorstr='#6b7c8c',GradientType=0 );
}
.footer{
	margin: 0 auto;
	padding: 40px 0 15px 0;
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: center;
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
}