/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	background-color:  rgba(231, 120, 233, 0.7);	
}
header{
	margin: 0px 0px 50px 0px;
}

.top_title{
	font-family: Georgia, serif;
	color: rgb(255, 219, 123);
	text-shadow: 1px 2px 3px rgb(37, 0, 41);
	padding: 40px 20px;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	letter-spacing: 15px;
	word-spacing: 40px;
	min-width: 480px;
	transition: all 0.5s ease;
	background: -moz-linear-gradient(top,  rgba(231,120,233,0.7) 0%, rgba(200,94,199,0.7) 47%, rgba(168,73,163,0.7) 100%);
background: -webkit-linear-gradient(top,  rgba(231,120,233,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
background: linear-gradient(to bottom,  rgba(231,120,233,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e778e9', endColorstr='#b3a849a3',GradientType=0 );
}
.top_title:hover{
	color: rgb(255, 219, 123);
	text-shadow: 1px 2px 3px rgb(37, 0, 41);
	font-size: 45px;
	letter-spacing: 20px;
	transition: all 0.5s ease;
	background: -moz-linear-gradient(top,  rgba(168,73,163,0.7) 0%, rgba(200,94,199,0.7) 53%, rgba(231,120,233,0.7) 100%);
background: -webkit-linear-gradient(top,  rgba(168,73,163,0.7) 0%,rgba(200,94,199,0.7) 53%,rgba(231,120,233,0.7) 100%);
background: linear-gradient(to bottom,  rgba(168,73,163,0.7) 0%,rgba(200,94,199,0.7) 53%,rgba(231,120,233,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a849a3', endColorstr='#b3e778e9',GradientType=0 );
}
.top_title:active{
	font-size: 43px;
	letter-spacing: 17px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(229,112,231,0.7) 0%, rgba(200,94,199,0.7) 47%, rgba(168,73,163,0.7) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,112,231,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
background: radial-gradient(ellipse at center,  rgba(229,112,231,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e570e7', endColorstr='#b3a849a3',GradientType=1 );
}

.dws-menu ul, .dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
}
.dws-menu > ul li a{
	display: block;
	color: rgb(255, 219, 123);
	text-shadow: 1px 2px 2px rgb(37, 0, 41);
	padding: 20px;
	font-size: 14px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	background: -moz-linear-gradient(top,  rgba(231,120,233,0.7) 0%, rgba(200,94,199,0.7) 47%, rgba(168,73,163,0.7) 100%);
background: -webkit-linear-gradient(top,  rgba(231,120,233,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
background: linear-gradient(to bottom,  rgba(231,120,233,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e778e9', endColorstr='#b3a849a3',GradientType=0 );
}
.dws-menu > ul li{
	position: relative;
	border: 1px solid rgb(90, 0, 100);
	border-right: none;
	white-space: nowrap;
	flex-grow: 1;
	text-align: center;
}
.dws-menu li a:hover{
	font-size: 15px;
	letter-spacing: 2px;
	box-shadow: 0px 5px 10px -2px rgb(66, 0, 73);
	transition: 0.3s;
	background: -moz-linear-gradient(top,  rgba(168,73,163,0.7) 0%, rgba(200,94,199,0.7) 53%, rgba(231,120,233,0.7) 100%);
background: -webkit-linear-gradient(top,  rgba(168,73,163,0.7) 0%,rgba(200,94,199,0.7) 53%,rgba(231,120,233,0.7) 100%);
background: linear-gradient(to bottom,  rgba(168,73,163,0.7) 0%,rgba(200,94,199,0.7) 53%,rgba(231,120,233,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a849a3', endColorstr='#b3e778e9',GradientType=0 );
}
.dws-menu li a:active{
	font-size: 13px;
	letter-spacing: 3px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(229,112,231,0.7) 0%, rgba(200,94,199,0.7) 47%, rgba(168,73,163,0.7) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,112,231,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
background: radial-gradient(ellipse at center,  rgba(229,112,231,0.7) 0%,rgba(200,94,199,0.7) 47%,rgba(168,73,163,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e570e7', endColorstr='#b3a849a3',GradientType=1 );
}

.dws-menu li ul{
	display: none;
	position: absolute;
	width: 100%;
}
.dws-menu li > ul li{
	border: 1px solid rgb(37, 0, 41);
}
.dws-menu li > ul li a{
	text-transform: none;
	padding: 10px;
}
.dws-menu li > ul li ul{
	position: absolute;
	width: 100%;
	right: -100%;
	top: -1px;
}
.dws-menu li:hover > ul{
	display: block;
}

